<nav class="navbar navbar-expand-md">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <a href="#"
         class="navbar-brand">
        <figure style="height: auto; width: 180px;">
          <img class="qe-logo img-fluid rounded"
               loading="lazy"
               src="images/qe-logo.png"
               title="Quantum Edge Labs Logo">
        </figure>
      </a>
      <div class="d-flex align-items-center">
        <button type="button"
                class="btn btn-dark px-4 d-md-none">Get In Touch <i
             class="bi bi-arrow-right text-light ms-2 rounded-pill"></i></button>
        <button class="navbar-toggler ms-2"
                type="button"
                (click)="toggleCollapseMenu()"
                title="Navbar Collapse">
          <i class="fa-thin fa-bars"></i>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse roboto-regular justify-content-start"
         [(ngbCollapse)]="isCollapsedMenu"
         [ngStyle]="{'color':isCollapsedMenu ? 'black': 'white'}">
      <button type="button"
              class="btn-close btn-close-white d-flex"
              aria-label="Close"
              (click)="toggleCollapseMenu()"></button>

      <ul class="navbar-nav">
        <li class="nav-item pe-5"><a href="#"
             class="nav-link">Home</a></li>
        <li class="nav-item pe-5"><a href="#"
             class="nav-link d-flex">About Us</a></li>
        <li class="nav-item pe-5"><a href="#"
             class="nav-link">Technologies</a></li>
        <li class="nav-item pe-5"><a href="#"
             class="nav-link">Services</a></li>
        <li class="nav-item pe-5"><a href="#"
             class="nav-link">Careers</a></li>
        <li class="nav-item pe-5"><a href="#"
             class="nav-link">Contact</a></li>
      </ul>
    </div>
    <button type="button"
            class="btn btn-dark d-none d-md-inline  rounded-pill">Get In Touch <i
         class="bi bi-arrow-right text-light ms-2"></i></button>
  </div>
</nav>