.qe-logo {
  width: 9rem;
}

.qe-menu {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 2.5rem;
  width: 60rem;
  a {
    padding-bottom: 0.575rem;
    &.active-link,
    &:hover {
      border-bottom: 2px solid var(--clr-highlight);
      color: var(--clr-highlight);
    }
  }
}

.qe-toggler {
  color: var(--clr-primary);
  cursor: pointer;
  font-size: 1.75rem;
  margin-left: 1rem;
  transition: all 0.3s ease;
  &:hover {
    color: var(--clr-highlight);
  }
}

.offcanvas-header {
  justify-content: end;
  & i {
    font-size: 1.25rem;
  }
}

.offcanvas-body {
  .qe-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
  }
}
