<header class="border-bottom roboto-regular">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand"
         routerLink="/">
        <figure>
          <img class="qe-logo img-fluid"
               loading="lazy"
               src="images/logos/qe-logo.png"
               title="Quantum Edge Labs Logo">
        </figure>
      </a>
      <button class="navbar-toggler"
              type="button"
              (click)="toggleCollapseMenu()"
              title="Navbar Collapse">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse"
           [(ngbCollapse)]="isCollapsedMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/about-us"
               routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/services"
               routerLinkActive="active">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/technologies"
               routerLinkActive="active">Technologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="/careers"
               routerLinkActive="active">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-pills"
               routerLink="/contact-us"
               routerLinkActive="active">
              Get in Touch
              <i class="ms-1 fa-solid fa-right-long d-none d-md-inline"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>