<header class="container">
  <nav class="navbar">
    <div class="d-flex justify-content-between w-100">
      <a class="navbar-brand"
         routerLink="/">
        <figure>
          <img class="qe-logo img-fluid rounded"
               loading="lazy"
               src="images/logos/qe-logo.png"
               title="Quantum Edge Labs Logo">
        </figure>
      </a>
      <div class="d-none d-lg-block">
        <ng-container *ngTemplateOutlet="menuItemTemplate">
        </ng-container>
      </div>
      <div class="d-flex d-lg-none align-items-start">
        <a class="qe-highlight"
           routerLink="contact-us">
          <label>Get In Touch</label>
          <i class="fa-solid fa-arrow-right"></i>
        </a>
        <div role="button"
             class="qe-toggler"
             title="Toggle Navigation"
             (click)="openSideMenu(content)">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </nav>
</header>

<ng-template #content
             let-offcanvas>
  <div class="offcanvas-header">
    <div role="button"
         aria-label="Close"
         (click)="offcanvas.dismiss('Cross click')">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="offcanvas-body">
    <ng-container *ngTemplateOutlet="menuItemTemplate">
    </ng-container>
  </div>
</ng-template>

<ng-template #menuItemTemplate>
  <ul role="menu"
      class="qe-menu">
    <li role="menuitem">
      <a aria-current="page"
         routerLink="/"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li role="menuitem">
      <a routerLink="about-us"
         routerLinkActive="active-link">About</a>
    </li>
    <li role="menuitem">
      <a routerLink="technologies"
         routerLinkActive="active-link">Technologies</a>
    </li>
    <li role="menuitem">
      <a routerLink="services"
         routerLinkActive="active-link">Services</a>
    </li>
    <li role="menuitem">
      <a routerLink="careers"
         routerLinkActive="active-link">Careers</a>
    </li>
    <li class="d-none d-lg-block"
        role="menuitem">
      <a class="qe-highlight"
         routerLink="contact-us">
        <label>Get In Touch</label>
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    </li>
  </ul>
</ng-template>