<section class="mx-4 mt-5 mb-5">
  <div class="contact-bottom text-center">
    <h2><span>HAVE A PROJECT IN MIND?</span><br>
      GET IN TOUCH WITH US TODAY</h2>

    <div class="cls-email">
      <div class="email"> <button class="btn">
          <i class="bi bi-envelope icon-email"></i><span class="">EMAIL US</span>
        </button></div>

      <div class="d-flex contacts">
        <i class="fa-sharp fa-solid fa-phone-volume"></i>
        <p> GETTING TOUCH IS EASY <br>
          <a href="tel:+914842388176">+91 484-2388176</a>
        </p>
      </div>
    </div>
  </div>
</section>