<div class="container my-4">
  <div class="d-flex flex-wrap position">
    @for(role of roles(); track role) {
    <div class="col-12 col-lg-6 open-role">
      <h3>{{role.title}}</h3>
      <div class="row">
        <div class="col-6">
          <section>
            <strong>Experience: </strong>
            <span>{{role.experience}}</span>
          </section>
          <section>
            <strong>Location: </strong>
            <span>{{role.location}}</span>
          </section>
          <section>
            <strong>Position: </strong>
            <span>{{role.position}}</span>
          </section>
        </div>
        <div class="col-6">
          <app-qe-button [buttonText]="buttonText"
                         [disabled]="isButtonDisabled"
                         (buttonClicked)="handleButtonClick()">
          </app-qe-button>
        </div>
      </div>
    </div>
    }
  </div>
</div>