<div class="banner-container">
  <div class="row d-flex flex-row">
    @if(role(); as roles) {
    <!-- <div class="col-12 col-lg-6">
      <div class="block d-flex align-items-center flex-wrap">
        <div class="col-md-8 col-12 ">
          <h1></h1>
          <div class="title d-flex">
            <h2>[innerHTML]="role.title"</h2>
          </div>

          <div class="experience d-flex">
            <h4>Experience</h4>
            <p>[innerHTML]="role.experience"</p>
          </div>

          <div class="location d-flex">
            <h4>Location</h4>
            <p>[innerHTML]="role.location"</p>
          </div>

          <div class="position d-flex">
            <h4>Position</h4>
            <p>[innerHTML]="role.position"</p>
          </div>
          <div class="skill d-flex">
            <h4>Skill</h4>
            <p>[innerHTML]="role.skill"</p>
          </div>
        </div>
      </div>

    </div> -->
    {{roles.experience}}
    }
  </div>
</div>