<div class="footer-main">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col col-lg-4 col-md-5 col-5">
        <a href="#"
           class="navbar-brand">
          <figure>
            <img class="qe-logo img-fluid rounded"
                 loading="lazy"
                 src="images/img/f-logo.png"
                 title="Quantum Edge Labs Logo">
          </figure>
        </a>
      </div>
      <div class="col col-lg-5 col-md-7 col-7">
        <div class="dir">
          <img src="images/img/place.png"
               alt="">
          <p>Quantum Edge pioneers tailored technology solutions for an ever-evolving digital landscape.</p>
        </div>
        <ul class="footer-social d-flex list-unstyled">
          <li class="px-2"><a href=""><img src="images/img/fb.png"
                   alt=""></a></li>
          <li class="px-2"><a href=""><img src="images/img/insta.png"
                   alt=""></a></li>
          <li class="px-2"><a href=""><img src="images/img/linkdin.png"
                   alt=""></a></li>
        </ul>
      </div>
      <div class="col col-lg-3 col-12">
        <span class="q-links">
          <h2>Quick Links</h2>
        </span>
        <ul class="flex-wrap position-relative list-unstyled ps-4">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="technologies.html">Technologies</a></li>
          <li><a href="career.html">Careers</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="footer-bottom mt-5">
        Copyright © 2023 -All rights reserved | Quantum Edge Labs Private
        Limited
      </div>
    </div>
  </div>
</div>