footer {
  background: var(--clr-gray-500);
  color: var(--clr--gray-800);
}
.qe-footer-logo {
  width: 9rem;
}
.qe-footer-social {
  text-align: center;
  & a {
    color: var(--text-dark);
    font-size: 2.5rem;
    transition: all 0.3s ease;
    &:hover {
      color: var(--clr-highlight);
    }
  }
  & a + a {
    margin-left: 2.5rem;
  }
}
.qe-footer-links {
  gap: 0.25rem;
  & a {
    &.link-active,
    &:hover {
      color: var(--clr-highlight);
    }
  }
}

@media (max-width: 991.98px) {
  .qe-footer-links {
    gap: 1rem;
    justify-content: center;
  }
}
