:root {
  --clr-dark: hsl(0, 0%, 0%);
  --clr-200: hsl(0, 0%, 94%);
}

.container {
  margin-top: 33rem;
  overflow-x: hidden;
}

.footer-main {
  background: #f1f1f1;
}

.dir img {
  max-width: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
}
.footer-social img {
  width: 3rem;
  height: auto;
}

.img-fluid {
  width: 150px;
  height: auto;
}

@media (max-width: 965px) {
  .flex-wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-content: space-evenly;
  }

  .q-links > h2 {
    text-align: center;
    padding-left: 3rem;
  }
}

.list-unstyled > li > a {
  text-decoration: none;
  color: black;
}
@media (max-width: 450px) {
  .col-7 {
    flex: 0 0 auto;
  }

  p {
    text-align: center;
  }
}
