h2 {
  font-size: 50px;
  list-style: 60px;
  color: #444;
  margin-bottom: 25px;
}

li {
  font-size: 60px;
  font-weight: 500;
  list-style: none;
}

li span {
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .about-img {
    transform: unset !important;
  }
  .about-img,
  .contact-img {
    margin: 0 15px;
  }
}

.about-img {
  background: rgb(116, 191, 162);
  background: linear-gradient(183deg, rgb(99 99 99) 15%, rgb(147 147 147) 100%);
  text-align: center;
  padding: 75px 15px 0 15px;
  padding-bottom: 0;
  margin: 0 50px;
  border-radius: 150px 150px 10px;
  overflow: hidden;
  margin-top: 75px;
  position: relative;
  bottom: -50px;
}
.about-img img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -5px;
}
img {
  max-width: 100%;
}

.container {
  margin-top: 90px;
}

.project-block img {
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 20%;
  border-top-right-radius: 3%;
}

#typed-text {
  font-size: 3.5rem;
  font-weight: bold;
  height: 5rem;
}
