<div class="container">
  <div class="row banner-row">

    <div class="col-12 col-lg-6 order-lg-2">
      <div class="inner-image">
        <img src="images/home/woman-with-file.png"
             alt="">
      </div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <h2>Revolutionising Your Tech Future, Customised for Your Success</h2>

      <div class="home-typed-wrapper">
        <span id="typed-text"></span>
      </div>
    </div>
  </div>
</div>
<section class="m-0">
  <div class="about">
    <div class="container">
      <div class="about-detail d-flex flex-wrap">
        <div class="col-lg-5 col-12">
          <h2>About Us</h2>
          <h3>Empowering Futures, Crafting Custom Solutions</h3>
          <div class="about-img">
            <img src="images/home/woman-with-laptop.png"
                 alt="dgd">
          </div>

        </div>

        <div class="col-lg-7 col-12">
          <div class="about-content ms-5">
            <p class="mb-3">
              Quantum Edge is more than an IT solutions provider; we're the innovation architects
              shaping tech around your unique needs. We don't host our own party; we invite you to be the
              centrepiece. It's your business, your vision — and our solutions start and end with you.
            </p>
            <div class="vision d-flex align-items-center mt-5 flex-wrap">
              <div class="col-lg-5 col-12">
                <div class="vision-img">
                  <img src="images/home/vision.png"
                       alt="dgd">
                </div>

              </div>
              <div class="col-lg-7">
                <div class="vision-content ms-5 col-12">
                  <h2>Vision</h2>
                  <p>At Quantum Edge, our vision is to revolutionise the tech realm by crafting bespoke
                    solutions, empowering businesses to thrive in a dynamic digital landscape.</p>
                </div>
              </div>
            </div>
            <div class="vision d-flex align-items-center vision-right flex-wrap">
              <div class="col-lg-5 order-lg-2 col-12">
                <div class="vision-img">
                  <img src="images/home/mission.png"
                       alt="dgd">
                </div>
              </div>
              <div class="col-lg-7 col-12">
                <div class="vision-content me-5">
                  <h2>Mission</h2>
                  <p>Our mission at Quantum Edge is to deliver intuitive, client-centric tech solutions that
                    seamlessly integrate into your business framework, prioritising your objectives and
                    budget.</p>
                </div>
              </div>
            </div>
            <div class="vision vision-last d-flex align-items-center flex-wrap">
              <div class="col-lg-5 col-12">
                <div class="vision-img vl-img">
                  <img src="images/home/value.png"
                       alt="dgd">
                </div>
              </div>
              <div class="col-lg-7 col-12">
                <div class="vision-content ms-5">
                  <h2>value</h2>
                  <p>We are committed to client-centricity, innovation, and reliability. Our core values
                    revolve around building relationships, fostering innovation, and delivering solutions
                    aligned with your vision.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section>
  <div class="projects">
    <div class="container">
      <div class="project-heading d-flex flex-wrap">
        <div class="col-lg-6 col-12">
          <h2>Our Projects</h2>
          <h3>Our Featured Projects</h3>
        </div>
        <div class="col-lg-6 col-12">
          <p>Quantum Edge: Where Innovation Meets Action in Crafting Your Futuristic Projects. Experience a Tech
            Odyssey with Our Bespoke Solutions, Shaping Tomorrow's Success Today.</p>
        </div>
      </div>
      <app-home-carousel [carouselItems]="carouselItems"></app-home-carousel>
    </div>
  </div>
</section>
<section>
  <div class="qelabs-contact">
    <div class="container">
      <div class="contact-us d-flex flex-wrap">
        <div class="col-lg-6 col-12">
          <div class="contact-img">
            <img src="images/home/man-with-mobile.png"
                 alt="">
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <h2 class="ms-3">Contact Us</h2>
          <h3 class="ms-3">Connect with our dedicated team today to kickstart your tech transformation.
          </h3>
          <form class="job-application flex-wrap d-flex">
            <div class="row d-flex flex-row flex-wrap">
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text"
                         placeholder="Name*"
                         class="form-control"
                         formControlName="name"
                         name="name">
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="Email"
                         placeholder="Email*"
                         class="form-control"
                         formControlName="email"
                         name="email">
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text"
                         placeholder="Phone Number*"
                         class="form-control"
                         formControlName="phone"
                         name="phone">
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text"
                         placeholder="Position you are applying for*"
                         class="form-control"
                         name="position"
                         formControlName="position">
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text"
                         placeholder="Portfolio Link"
                         class="form-control"
                         name="portfolio_link"
                         formControlName="portfolio_link">
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <label for="cv">Upload CV</label>
                  <input id="cv"
                         class="ms-2"
                         type="file"
                         name="cv_file">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea id=""
                            cols="30"
                            rows="3"
                            name="message"
                            class="form-control"
                            formControlName="message"
                            placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="job-btn d-flex justify-content-center mt-3">
                  <button type="submit">Submit form</button>
                </div>

              </div>
            </div>
          </form>

          <div class="contact-info d-flex flex-column">
            <a class="info d-flex align-items-center">
              <i class="fa-thin fa-phone-volume"></i>
              +91 484-2388176
            </a>

            <a class="info d-flex align-items-center">
              <i class="fa-thin fa-envelope"></i>
              info&commat;qelabs.in
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
