<app-page-banner [banner]="banner"></app-page-banner>
<section>
  <div class="container">
    <div class="text-center">
      <h1> WHY JOIN US?</h1>
      <p>Discover a workplace that values creativity, encourages continuous learning, and fosters a collaborative
        environment. We offer opportunities to work on groundbreaking projects, alongside industry experts, providing an
        atmosphere where your ideas and contributions truly matter.
      </p>
      <p>
        Explore exciting career paths tailored to your expertise and ambitions. At Quantum Edge, we're committed to
        nurturing talent, empowering growth, and creating an inclusive workplace that thrives on diversity and
        innovation.
      </p>
      <h1>OPEN ROLES</h1>
    </div>
    <app-open-roles [roles]="roles"></app-open-roles>
  </div>
</section>



<div class="container">
  <h2 id="job-application-form"
      class="text-center fw-normal">JOB APPLICATION FORM</h2>
  <form [formGroup]="contactFrom"
        (ngSubmit)="sendEmail($event)"
        class="job-application flex-wrap d-flex">
    <div class="row d-flex flex-row flex-wrap">
      <div class="col-lg-6 col-12">
        <div class="form-group">
          <input type="text"
                 placeholder="Name*"
                 class="form-control"
                 formControlName="name"
                 name="name">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="form-group">
          <input type="Email"
                 placeholder="Email*"
                 class="form-control"
                 formControlName="email"
                 name="email">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="form-group">
          <input type="text"
                 placeholder="Phone Number*"
                 class="form-control"
                 formControlName="phone"
                 name="phone">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="form-group">
          <input type="text"
                 placeholder="Position you are applying for*"
                 class="form-control"
                 name="position"
                 formControlName="position">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="form-group">
          <input type="text"
                 placeholder="Portfolio Link"
                 class="form-control"
                 name="portfolio_link"
                 formControlName="portfolio_link">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="form-group d-none">
          <label for="cv">Upload CV</label>
          <input id="cv"
                 class="ms-2"
                 type="file"
                 (change)="onFileChange($event)"
                 name="cv_file">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <textarea id=""
                    cols="30"
                    rows="3"
                    name="message"
                    class="form-control"
                    formControlName="message"
                    placeholder="Message"></textarea>
        </div>
      </div>
      <div class="col-12">
        <div class="job-btn d-flex justify-content-center mt-3">

          <app-qe-button [buttonText]="buttonText"
                         [disabled]="contactFrom.invalid"
                         (buttonClicked)="handleButtonClick()">{{!loading ?'Send Your CV' : 'loading...'}}
          </app-qe-button>



        </div>

      </div>
    </div>
  </form>
</div>
