@import "bootstrap/dist/css/bootstrap.min.css";
@import "../public/css/variables.css";
@import "../public/css/fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: var(--color-scheme);
  font-size: 16px;
}

body {
  background: var(--clr-white);
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  scroll-behavior: smooth;
}
